
<div class="container_wp">
    <section class="section1">
        <!-- CAPTURAR DATOS -->
        <h2 class="new_title">Escribe tu noticia</h2>
        <label for="fname">Título:</label>
        <input type="text" id="fname" name="fname" placeholder="Escribe el título de la noticia" [(ngModel)]="newNoticia.titulo">
        <label for="url_img">Url de la imagen:</label>
        <input type="url_img" id="url_img" name="url_img" placeholder="Pega el link de la imagen" [(ngModel)]="newNoticia.imagen">
        <label for="cuerpo">Texto o cuerpo:</label>
        <input class="cuerpo_new" type="cuerpo" id="cuerpo" name="cuerpo" placeholder="Escribe la noticia" [(ngModel)]="newNoticia.texto">
        <label for="autor">Autor:</label>
        <input class="autor" type="autor" id="autor" name="autor" placeholder="Escribe tu nombre" [(ngModel)]="newNoticia.autor">
        <label for="fecha_pub">Fecha de publicación:</label>
        <input type="date" id="fecha_pub" name="fecha_pub" [(ngModel)]="newNoticia.fecha">
        <button class="publicar-btn" (click)="publicar()">Publicar</button>
    </section>


    <!-- PINTAR DATOS -->
    <div class="div-flex">
        <h2 class="new_title">Últimas Noticias</h2>
        <div class="section2">
            <section [innerHTML]="cargarNoticias()">
                <div class="sub-section">
                    <div class="mini-section1">
                        <h3>Título</h3>
                        <p>Texto de varias líneas para la sub-sección.</p>
                        <p>Nombre del autor de la publicación.</p>
                        <p class="text-date">Fecha de publicación</p>
                    </div>
                    <div class="mini-section2">
                        <img class="img_abs" src="" alt="Imagen 1">
                    </div>
                </div>
            </section>
        </div>
    </div>